div.col-lg-12.error_car_container
    .row
        .col-sm-12.error_header
            h2 Извините произошла ошибка =(
        .col-sm-12.error_desc
            .row 
                .col-md-2
                    span.status_code 
                .col-sm-12
                    span.error_msg