div.col-lg-12.order_container
    .row
        .col-sm-12.record_header
            .row
                .col-xs-8
                    h4.title 
                .col-xs-4.align-right.vert-align-m
                    div.view_detail_info.glyphicon.glyphicon-chevron-down
        .col-sm-12.main_info
            .row
                .col-md-12
                    .row
                        .col-xs-2.col-sm-offset-1.text-right
                            span.head_label С
                        .col-xs-2.text-left
                            span.lease-start
                        .col-xs-2.col-sm-offset-2.text-right
                            span.head_label По
                        .col-xs-2.text-left
                            span.lease-end
                .col-md-12
                    .row
                        .col-sm-3.col-md-offset-1.text-right
                            span.head_label Дата формирования заказа
                        .col-sm-4.text-left.date_issue_container
                            span.date_issue
                .col-md-12
                    .row
                        .col-sm-3.col-md-offset-1.text-right
                            span.head_label Статус
                        .col-sm-4.text-left
                            span.status
        .col-sm-12.car_info
            .row
                .car_content 
        .col-sm-12.billing_info
            .row
                .billing_content
        .com-md-12.action_button_field
                    .row
                        .col-sm-3.col-md-offset-5
                            button.action_btn.btn